[submodule "clients_service"]
	path = clients_service
	url = git@github.com:carlosRPDev/clients_service.git
[submodule "invoices_service"]
	path = invoices_service
	url = git@github.com:carlosRPDev/invoices_service.git
[submodule "audit_service"]
	path = audit_service
	url = git@github.com:carlosRPDev/audit_service.git
